.add-task-container {
	padding: 20px 0;
	width: 100%;
	display: flex;
	grid-template-columns: 3fr 1fr;
	gap: 10px;
}

.add-task-input {
	height: 40px;
	padding: 0 10px;
	border-radius: 10px;
	border: 2px solid #888;
	flex: 2;
	background-color: #fff;
	color: #333;
	font-size: 18px;
}


.add-task-button-container {
	margin-left: 0;
	flex: none;
}