.task-container {
	background-color: #fff;
	margin: 10px 0;
	padding: 20px 25px;
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	color: #333;
	align-items: center;
  }
  
  .task-title {
	cursor: pointer;
	color: #008080;
  }
  
  .buttons-container {
	width: 35%;
	display: flex;
	justify-content: flex-end;
  }
  
  .remove-task-button,
  .see-task-details-button {
	background-color: #fff;
	border: 2px solid #008080;
	font-size: 26px;
	color: #008080;
	margin: 0 10px;
  }
  
  .empty-input {
	border: 2px solid red;
  }
  
  .empty-input-message {
	color: red;
	font-size: 12px;
  }
  